<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">
        <img src="assets/images/logos/ng-book-2-minibook.png"/>
         Skeleton App
      </a>
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <p class="navbar-text">
          <button class="btn btn-primary" type="button" (click)="onShowMessage()">
            Messages <span class="badge">0</span>
          </button> &nbsp;&nbsp;
          <span *ngIf="currentUser">{{currentUser?.firstName}} • {{currentUser?.lastName}}</span>
          <a *ngIf="currentUser" href="#" (click)="onLogout()">Logout</a>
          <a *ngIf="!currentUser" routerLink="/login" routerLinkActive="active">Login</a>
        </p>
      </li>
    </ul>
  </div>
</nav>
